@font-face{
    font-family:'a';
    src:url("../fonts/free_font_12.ttf");
    font-weight:bold;
}
@font-face{
    font-family:'b';
    src:url("../fonts/ae_Metal.ttf");
    font-weight:bold;
}
@font-face{
    font-family:'c';
    src:url("../fonts/virgo.ttf");
    font-weight:bold;
}

body{
    font-family: b,c;
    margin: 0;
    padding: 0;
}
.nav {
    margin: 0;
    padding: 0;
}
 .warp {
    display: flex;
}
 .warp .logo {
    text-decoration: none;
    color: #9d0e3e;
    width: 100%;
    height: 70px;
}
 .warp .logo img{
        width:60px;
        height: 60px;
}
.nav .ul {
    margin: 0;
    padding: 0;
    display: flex;
    transition: all 0.5s;
}
.nav .ul li{
    list-style:none;
    color: #cdcdcd;
}
.nav .ul li a{
    text-decoration: none;
    color: #cdcdcd;
    padding: 10px 20px;
    margin: 10px ;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.con form {
    margin: 10px 20px;
    padding: 0;
    
}
.con form h1 {
    font-size: 22px;
    color: #6d6d6d;
    text-align: center;
}
.con form input[type='text'],input[type='email'],input[type='password']{
    padding: 10px 20px;
    width: 100%;
    max-width: 700px;
    margin: 10px 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    font-family: a,b,c;
    flex: auto;
    
}
.con form .btn_submit{
    padding: 10px 20px;
    width: 100%;
    max-width: 700px;
    border: none;
    outline: none;
    background: #bf1344;
    color: #fff;
    transition: 0.5s;
    font-family: b,c;
}
.con form .forget_password {
    display: flex;
}
.con form .forget_password p {
    font-size: 14px;
}
.con form .forget_password a {
    font-size:14px;
    color: #bf1344;
    line-height: 55px;
}
.main {
    width: 100%;
    height: 100%;
}
.main span {
    background: #bf1344;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
}
.main .btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .btns .btn_submit{
    padding: 10px 20px;
    margin: 10px;
    width: 100%;
    border: none;
    outline: none;
    background: #bf1344;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: b,c;
}
.error-msg {
    padding: 10px 20px;
    background: #bf1344;
    color: #fff;
    display: block;
}
.success-msg {
    padding: 10px 20px;
    background: #2dba3a;
    color: #fff;
    display: block;
}
@media (max-width:550px){
    .con {
        height: 100%;
    }
     .warp {
        width: 350px;
    }
     .warp .toggle {
        width: 30px; 
        height: 30px;
        margin:20px ;
        position: relative;
}
     .warp .toggle span{
        width: 30px; 
        height: 2px;
        background: #000;
        position: absolute;
        left: 0;
        border-radius: 3px;
        transition: 0.5s;
}
     .warp .toggle span:nth-child(1){
        top: 10px;
}
     .warp .toggle span:nth-child(2){
        top: 20px;
}
     .warp .toggle.active span:nth-child(3){
        top: 20px;
}
     .warp .toggle.active span:nth-child(1){
        transform: rotate(45deg);
        
}
     .warp .toggle.active span:nth-child(2){
        transform: rotate(-45deg);
        margin-top: -10px;
}
     .warp .toggle.active span:nth-child(3){
        
        opacity: 0;
}
    
    .nav .ul {
        display: none;
        margin:-20px 0;
        padding: 0;
        background: #EEEEEE;
        position: relative;
        top: 50px;
        text-align: center;
        transition:all 0.5s linear;
    }
    .nav .ul li {
        margin:0 ;
        padding: 10px 20px;
    }
    .nav .ul li a{
        padding: 10px;
        margin: 10px 20px;
        color: #000;
    }
    .nav .ul.active{
        display: block;
        transition:all 0.5s;
    }
}